/DugmeOdustaniKontroler.class
/DugmeOdustaniProfesorKontroler.class
/DugmePotvrdiProfesoraKontroler.class
/ProzorObrisiEntitetKontroler.class
/ProzorObrisiKontroler.class
/ProzorDodajEntitet.class
/ProzorDodajEntitetKontroler.class
/DodajStudentaController.class
/DugmePotvrdiPredmetKontroler.class
/DugmeOdustaniPredmetKontroler.class
