/ProzorDodajEntitetKontroler.class
/DugmePotvrdiProfesorKontroler.class
/DugmeOdustaniProfestorKontroler.class
/DodajStudentaController.class
/DugmeOdustaniStudentKontroler.class
/AboutKontroler.class
